<div class="banner">
  <div class="slider" style="--quantity: 5">
    <div class="item" style="--position: 1">
      <p>Angular + .Net project + SQL DB</p>
      <img src="assets/BookQuotesOrg.png" alt="image">
      <a
        href="https://github.com/DimPirogov/RedTest2"
        target="_blank"
        class="text-decoration-none"
      >
        Link to the code</a>
    </div>
    <div class="item" style="--position: 2">
      <p>Figma layout for mobile app for a restaurant</p>
      <img src="assets/FigmaMackorOrg.png" alt="image">
    </div>
    <div class="item" style="--position: 3">
      <p>Figma layout of AI login props</p>
      <img src="assets/InlogExamplesOrg.png" alt="image">
    </div>
    <div class="item" style="--position: 4">
      <p>First JavaScript only project</p>
      <img src="assets/Project1ITHS.png" alt="image">
    </div>
    <div class="item" style="--position: 5">
      <p>Team project build in Vue framework</p>
      <img src="assets/Team9ProjectOrg.png" alt="image">
      <a
        href="https://github.com/DimPirogov/Team9"
        target="_blank"
        class="text-decoration-none"
      >
        Link to the code</a>
    </div>
  </div>
</div>
