
:root {
  --gradient-light: linear-gradient(130deg, rgba(231, 230, 216, 0.5) 0%, rgba(46, 25, 179, 0.8) 100%);
  /* --gradient-light: linear-gradient(130deg, rgba(124, 207, 226, .5 ) 0%, rgba(72, 58, 160, .8) 100%); */
  --gradient-dark: linear-gradient(130deg, rgba(60, 20, 20, .9) 0%, rgba(90, 95, 60, .85) 100%);
  /* --gradient-dark: linear-gradient(130deg, rgba(60, 20, 20, .9) 0%, rgba(90, 95, 60, .85) 100%); */
}

body {
  background: var(--gradient-light) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Noto Sans', 'Roboto', sans-serif;
  font-weight: 900;
  /* height: 100vh; */
  /* overflow: hidden; */
  color: var(--text-color);
}

body.dark-theme {
  background: var(--gradient-dark) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body.light-theme {
  background: var(--gradient-light) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.dark-theme {
  --bg-color: #282c34;
  --gradient: var(--gradient-dark);
  --text-color: #fdfeff;
  --rating: rgba(124, 207, 226, .5 );
  --btn-proper-color: rgba(60, 20, 20, .8);
  --border-color: #3e4451;
  --header-bg-color: #21252b;
  --even-row-bg-color: #21252b;
  --hover-row-bg-color: #303741;
  --btn-bg-color: #fdfeff;
  --btn-text-color: #282c34;
  --btn-text-color-hover: #abb2bf;
  --btn-border-color: #fdfeff;
  --table-bg-th: #1b1d23;
  --table-bg-td: #1b1d23;
  --container-border: #4b5263;
  --container-bg-color: #282c34;
  --td-focus-border: #dee2e6;
  --movable-focus-border: #dee2e6;
  --movable-bg-color: rgba(0, 0, 255, 0.1);
  --movable-shadow-color: #282c34;

  --form-check-input-bg: #313131;
  --form-check-input-border: #4b5263;
  --form-check-input-border-focus: #2e343e;

  --submit-sticky-bg: #4b5263;
  --navbar: #21252b;
  --navbar-color: #fdfeff;
  --card-bg-color: #33353b;
  --card-text-color: #fdfeff;
  --input-text: #000000;
}

.light-theme {
  --bg-color: #ffffff;
  --gradient: var(--gradient-light);
  --text-color: #333333;
  --rating: rgba(60, 20, 20, .6);
  --btn-proper-color: rgba(124, 207, 226, .7 );
  --border-color: #dddddd;
  --header-bg-color: #f2f2f2;
  --even-row-bg-color: #f2f2f2;
  --hover-row-bg-color: #dddddd;
  --btn-bg-color: #007bff;
  --btn-text-color: #ffffff;
  --btn-text-color-hover: #333333;
  --btn-border-color: #007bff;
  --table-bg-th: #f5f5f5;
  --table-bg-td: #ffffff;
  --container-border: #dddddd;
  --container-bg-color: #ffffff;
  --td-focus-border: #007bff;
  --movable-focus-border: #dee2e6;
  --movable-bg-color: rgba(0, 0, 255, 0.1);
  --movable-shadow-color: #828080;

  --form-check-input-bg: #0069d9;
  --form-check-input-border: #0062cc;

  --submit-sticky-bg: #f2f2f2;
  --navbar: #d2d2d2;
  --navbar-color: #000000;
  --card-bg-color: #f2f2f2;
  --card-text-color: #000000;
  --input-text: #000000;
}
/* site story */
.first {
  font-size: 0.9rem;
  text-align: center;
}
/* --end-- */
h1 {
  font-size: 5rem;
}
section h3 a {
  color: var(--text-color);
}
.btn {
  /* background-color: var(--btn-bg-color); */
  background-color: var(--rating);
  color: var(--btn-text-color);
  /* border-color: var(--btn-border-color); */
  border-color: var(--rating);
  font-weight: 900;
}
.btn:hover {
  background-color: var(--btn-proper-color);
  border-color: var(--btn-proper-color);
  color: black;
}
/* for the mode button */
.theme-picker {
  position: fixed;
  top: 0px;
  right: 10px;
  z-index: 1000;
}
/* -----end of mode button */

/* for the search bar */

.has-search .form-control {
  padding-left: 2.375rem;
  max-width: 400px;
}
/* the magnifying glass */
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
/* -----end of search bar */

/* for the paragraf when search is active */
.searchP {
  font-size: 3rem;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: var(--gradient);
  z-index: 1000;
  display: block; /* Ensures the element is displayed */
}
/* -----end of paragraf */

/* for the parallax effect */
.parallax {
  /* min-height: 40em; */
  /* height: 100vh; */
  /* overflow: hidden; */
  /* position: sticky; */
  top: 0;
}
.images {
  position: relative;
  /* height:  100%; */
  /* width: auto; */
  overflow: hidden;
  /* object-fit: cover; */
}
.images img {
  /* position: absolute; */
  /* left: 0; */
  width: 100%;
  height: auto;
}
.img1 {
  z-index: 4;
  /* filter: drop-shadow(0 0 4em #ea8827); */
}
.title {
  font-family: 'Kanit', sans-serif;
  font-size: 6em;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: #fff;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}
/* ---end of parallax --- */
.container {
  padding: 1.5em;
  z-index: 5;
  /* position: sticky; */
  top: 0;
  /* margin-top: 5em; */
}
footer {
  z-index: -1;
  position: relative;
  /* clear: both; */
  background: var(--rating);
  margin-bottom: 0;
}
@media screen and (max-width: 1400px) {
  .title {
    font-size: 4em;
  }
}
@media screen and (max-width: 1000px) {
  footer {
    margin-top: calc(1371px);
  }
}
@media screen and (max-width: 900px) {
  .title {
    font-size: 2em;
  }
}
